{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": true,
    "useTabs": false,
    "arrowParens": "avoid",
    "endOfLine": "lf",
    "bracketSpacing": true,
    "quoteProps": "consistent",
    "singleQuote": false
}
